@import "tailwindcss";

* {
    box-sizing: border-box;
}

:root{
    --bg: #f1f5f9;
    --card: #ffffff;
    --text: #0f172a;
    --muted: #64748b;

    --input-bg: #e2e8f0;
    --input-focus: #94a3b8;
    --input-placeholder: #64748b;


    --primary-colour: #22c55e;
    --primary-light: #4ade80;
    --primary-dark: #15803d;

    --transition-duration: 200ms;

    --rounded-lg: 0.5rem;
    --rounded-md: 0.375rem;

    user-select: none;

}

pre {
    user-select: all;
}

html, body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    scrollbar-gutter: stable;
}

@layer base {
    * {
        transition: all var(--transition-duration) ease-in-out;
    }
}

h1{
    font-size: 3rem;
    font-weight: 850;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 600;
}

h4 span {
    display: flex;
    font-weight: 400;
    font-size: 0.75em;
    text-align: right;
    color: var(--muted);
}

i {
    color: var(--muted);
}

label{
    margin-left: 0.5rem;
    margin-bottom: 0rem;
    color: var(--muted) !important;
}

input, textarea {
    flex: 1;
    padding: 0.5rem;
    border-radius: 16px;
    background: var(--input-bg);
    color: var(--text);
    border: none;
    margin-bottom: 0.75rem;
}

input::placeholder,
textarea::placeholder {
    color: var(--input-placeholder);
}

input:focus,
textarea:focus {
    background: #cbd5e1; /* slate-300 */
    box-shadow: 0 0 0 3px rgba(148, 163, 184, 0.25);
    outline: none;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
    background: gray;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pillow {
    background: linear-gradient(135deg, #ffffff, #e6e6e6);

    box-shadow: 
        0 10px 16px rgba(0, 0, 0, 0.25),

        inset 10px 10px 20px rgba(255, 255, 255, 0.8),
        inset -10px -10px 20px rgba(0, 0, 0, 0.1);
}

.squircle {
    border-radius: 1.5rem;

    @supports (corner-shape: squircle) {
        corner-shape: squircle;
        border-radius: 48px;
    }
}

.pillow-hover-dark {    
    transition:
        background 300ms ease,
        box-shadow 300ms ease;
}

.pillow-hover-dark:hover {
    background: linear-gradient(
        180deg,
        #b8b8b8 0%,
        #dedede 100%
    );

    box-shadow:
        0 14px 22px rgba(0, 0, 0, 0.32),

        inset 10px 10px 20px rgba(255, 255, 255, 0.8),
        inset -10px -10px 20px rgba(0, 0, 0, 0.1);
}
